[submodule "themes/hugo-theme-lean-launch-page"]
	path = themes/hugo-theme-lean-launch-page
	url = https://github.com/felicianotech/hugo-theme-lean-launch-page.git
[submodule "themes/hugo-theme-bootie-docs"]
	path = themes/hugo-theme-bootie-docs
	url = https://github.com/progrhyme/hugo-theme-bootie-docs.git
[submodule "themes/terminal"]
	path = themes/terminal
	url = https://github.com/panr/hugo-theme-terminal.git
[submodule "themes/freshstart"]
	path = themes/freshstart
	url = https://github.com/rz3n/hugo-theme-freshstart.git
